<header class="container-fluid">
    <nav class="d-flex flex-wrap justify-content-between align-items-center py-3">
        <button class="navbar-toggler d-flex align-items-center" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar">
            <img src="logo_transparent.png" alt="Logo" width="70" height="70" class="d-inline-block">
            <h1 class="mb-0">EduRoom</h1>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center text-decoration-none justify-content-center dropdown-toggle" id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="favicon.ico" alt="Usuario" class="rounded-circle border b-primary" width="40" height="40">
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownUser">
                <li><a class="dropdown-item">Perfil</a></li>
                <li><a class="dropdown-item">Configuración</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item">Cerrar sesión</a></li>
            </ul>
        </div>
    </nav>
</header>
