<header class="background">
    <nav class="navbar navbar-expand-md text-center">
        <div class="container-fluid">
            <div class="navbar-nav ms-auto">
                <div class="dropdown">
                    <a href="#" class="d-flex align-items-center text-decoration-none justify-content-center dropdown-toggle" id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="favicon.ico" alt="Usuario" class="rounded-circle border b-primary" width="40" height="40">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownUser">
                        <li><a class="dropdown-item">Perfil</a></li>
                        <li><a class="dropdown-item">Configuración</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item">Cerrar sesión</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
