<section class="bg-white border shadow-sm rounded p-4 mb-3">
    <h3 class="mb-3">Asistencias previas</h3>
    <form [formGroup]="commissionForm" class="row g-3">
        <div class="col-12 col-sm-6 col-xl-3">
            <label class="form-label">Carrera</label>
            <select formControlName="career" (change)="onCareerChange()" class="form-select">
                <option value="0" selected disabled>Seleccione una carrera</option>
                @for (career of careers; track $index) {
                    <option value="{{career.career_id}}">{{career.career_name}}</option>
                }
            </select>
        </div>
        <div class="col-12 col-sm-6 col-xl-3">
            <label class="form-label">Asignatura</label>
            <select formControlName="subject" (change)="onSubjectChange()" class="form-select">
                <option value="0" selected disabled>Seleccione una asignatura</option>
                @for (subject of subjects; track $index) {
                    <option value="{{subject.subject_id}}">{{subject.subject_name}}</option>
                }
            </select>
        </div>
        <div class="col-12 col-sm-6 col-xl-3">
            <label class="form-label">Comisión</label>
            <select formControlName="commission" (change)="onCommissionChange()" class="form-select">
                <option value="0" selected disabled>Seleccione una comisión</option>
                @for (commission of commissions; track $index) {
                    <option value="{{commission.commission_id}}">{{commission.commission_name}}</option>
                }
            </select>
        </div>
        <div class="col-12 col-sm-6 col-xl-3">
            <label class="form-label">Fecha</label>
            <input formControlName="attendance_date" (change)="onAttendanceDateChange()" class="form-control" type="date">
        </div>
    </form>
</section>
@if (isCommissionSelected) {
    <section class="bg-white border shadow-sm rounded p-4 mb-3">
        <form [formGroup]="attendancesForm">
            <div class="mb-3">
                <h3>Editar asistencia</h3>
            </div>
            <ul formArrayName="attendances" class="list-group">
                @for (enrollment of enrollments; track $index) {
                    <li [formGroupName]="$index" 
                        [ngClass]="{
                            'bg-success': attendances.controls[$index].value.attendance_state_id === 1,
                            'bg-warning': attendances.controls[$index].value.attendance_state_id === 2,
                            'bg-danger': attendances.controls[$index].value.attendance_state_id === 3
                        }"
                        (click)="toggleAttendanceState($index)"   
                        class="list-group-item"
                        role="button">
                        @switch (attendances.controls[$index].value.attendance_state_id) {
                            @case (0) {
                                <span class="badge text-bg-dark user-select-none">Sin estado</span>
                            }
                            @case (1) {
                                <span class="badge text-bg-dark user-select-none">Presente</span>
                            }
                            @case (2) {
                                <span class="badge text-bg-dark user-select-none">Media falta</span>
                            }
                            @case (3) {
                                <span class="badge text-bg-dark user-select-none">Ausente</span>
                            }
                        }
                        <p 
                            [ngClass]="{
                                'text-white': [1, 3].includes(attendances.controls[$index].value.attendance_state_id),
                                'text-black': [0, 2].includes(attendances.controls[$index].value.attendance_state_id)
                            }"
                            class="d-block d-sm-inline mb-0 ms-sm-3 user-select-none">
                            {{enrollment.user_id.user_lastname}}, {{enrollment.user_id.user_name}}
                        </p>
                    </li>
                }
            </ul>
            <div class="d-flex justify-content-end mt-3">
                <button (click)="editAttendance()" class="button-accent">Editar asistencia</button>
            </div>
        </form>
    </section>
} @else {
    <p class="bg-white border shadow-sm rounded p-4 mb-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2"/>
        </svg>
        Seleccione una asistencia previa para editarla 
    </p>
}