<div class="login-bg d-flex justify-content-center align-items-center min-vh-100">
    <div class="card shadow-sm w-100" style="max-width: 400px; border-radius: 1rem;">
        <div class="text-center mb-4">
            <img class="m-1" src="/EduRoom_logo_transparent.png" height="200" alt="Logo EduRoom" />
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
            <!-- Email -->
            <!-- Email -->
            <div class="mb-3">
                <input type="text" class="form-control" formControlName="user_email"
                    [ngClass]="{ 'is-invalid': submitted && f['user_email'].invalid }"
                    placeholder="Correo electrónico" />

                <div *ngIf="submitted && f['user_email'].errors" class="invalid-feedback d-block">
                    <div *ngIf="f['user_email'].errors?.['required']">El correo es obligatorio.</div>
                    <div *ngIf="f['user_email'].errors?.['email']">Debe tener un formato de correo válido.</div>
                </div>
            </div>

            <!-- Password -->
            <div class="mb-3">
                <input type="password" class="form-control" formControlName="user_pass"
                    [ngClass]="{ 'is-invalid': submitted && f['user_pass'].invalid }" placeholder="Contraseña" />

                <div *ngIf="submitted && f['user_pass'].errors" class="invalid-feedback d-block">
                    <div *ngIf="f['user_pass'].errors?.['required']">La contraseña es obligatoria.</div>
                    <div *ngIf="f['user_pass'].errors?.['minlength']">Debe tener al menos 8 caracteres.</div>
                </div>
            </div>


            <div class="mb-3 text-end">
                <a routerLink="/public/auth/password-recovery" class="small a-accent">¿Olvidaste tu contraseña?</a>
            </div>

            <button type="submit" class="btn btn-primary w-100">Iniciar Sesión</button>

            <div class="text-center mt-3">
                <a routerLink="/public/auth/register" class="small a-accent">¿No tienes cuenta? Regístrate</a>
            </div>
        </form>
    </div>
</div>

<app-notification-toast></app-notification-toast>