@media (max-width: 1250px) {
        .table-responsive {
        overflow-x: auto;
        display: block;
        -webkit-overflow-scrolling: touch;
    }

    .table-responsive table {
        min-width: 1200px;
    }
}