<section class="bg-white border shadow-sm rounded p-4 mb-3">
    <h3 class="mb-3">Generar gráfico de asistencias por estudiante</h3>
    <form [formGroup]="studentForm" class="row g-3">
        <div class="col-12 col-xl-4">
            <label class="form-label">Carrera</label>
            <select formControlName="career" (change)="onCareerChange()" class="form-select">
                <option value="0" selected disabled>Seleccione una carrera</option>
                @for (career of careers; track $index) {
                    <option value="{{career.career_id}}">{{career.career_name}}</option>
                }
            </select>
        </div>
        <div class="col-12 col-sm-6 col-xl-4">
            <label class="form-label">Asignatura</label>
            <select formControlName="subject" (change)="onSubjectChange()" class="form-select">
                <option value="0" selected disabled>Seleccione una asignatura</option>
                @for (subject of subjects; track $index) {
                    <option value="{{subject.subject_id}}">{{subject.subject_name}}</option>
                }
            </select>
        </div>
        <div class="col-12 col-sm-6 col-xl-4">
            <label class="form-label">Comisión</label>
            <select formControlName="user" (change)="onStudentChange()" class="form-select">
                <option value="0" selected disabled>Seleccione un estudiante</option>
                @for (user of users; track $index) {
                    <option value="{{user.user_id}}">{{user.user_name}} {{user.user_lastname}}</option>
                }
            </select>
        </div>
    </form>
</section>
@if(isStudentSelected) {
    <section class="bg-white border shadow-sm rounded p-4 mb-3">
        <h3 class="mb-3">Gráfico de asistencias del estudiante</h3>
        <div echarts [options]="option" class="w-100" style="height: 400px;"></div>
    </section>
}