<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div #notificationToast class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg-white">
            <strong class="me-auto" 
                [ngClass]="{
                'text-success': status === 'success', 
                'text-danger': status === 'error', 
                'text-info': status === 'info' 
                }">
                {{ title }}
            </strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
        </div>
        <div class="toast-body bg-white">
            {{ message }}
        </div>
    </div>
</div>
