<div class="container mt-5" style="max-width: 500px;">
    <h2 class="mb-4 text-center">Recuperar Contraseña</h2>

    <form [formGroup]="recoveryForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="email" class="form-label">Correo electrónico</label>
            <input type="email" class="form-control" id="email" formControlName="email"
                placeholder="nombre@ejemplo.com">
            <div *ngIf="submitted && recoveryForm.controls['email']?.errors" class="text-danger">
                <small *ngIf="recoveryForm.controls['email']?.errors?.['required']">El email es obligatorio.</small>
                <small *ngIf="recoveryForm.controls['email']?.errors?.['email']">Formato de email inválido.</small>
            </div>
        </div>

        <div class="mb-3">
            <label for="dni" class="form-label">DNI (opcional)</label>
            <input type="text" class="form-control" id="dni" formControlName="dni" placeholder="Ej: 12345678">
            <div *ngIf="submitted && recoveryForm.controls['dni']?.errors" class="text-danger">
                <small *ngIf="recoveryForm.controls['dni']?.errors?.['pattern']">
                    DNI inválido. Debe contener entre 7 y 8 dígitos numéricos.
                </small>
            </div>
        </div>


        <button type="submit" class="btn btn-primary w-100">Enviar enlace</button>

        <!-- Mensaje de éxito -->
        <div *ngIf="successMessage" class="alert alert-success mt-3">
            {{ successMessage }}
        </div>
    </form>
</div>