<div id="admin-modal-edit-user" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-tittle">Editar usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="editUserForm" class="row g-3">
                    <div class="col-md-6">
                        <label class="form-label">Documento</label>
                        <input formControlName="usDocumento" class="form-control" type="text">
                        @if (usDocumento.invalid && (usDocumento.dirty || usDocumento.touched)) {
                            @if (usDocumento.hasError("required")) {
                                <p class="text-danger">Introduzca un DNI</p>
                            }
                            @if (usDocumento.hasError("minlength") || usDocumento.hasError("maxlength") || usDocumento.hasError("pattern")) {
                                <p class="text-danger">DNI inválido</p>
                            }
                        }
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Correo electrónico</label>
                        <input formControlName="usMail" class="form-control" type="email">
                        @if (usMail.invalid && (usMail.dirty || usMail.touched)) {
                            @if (usMail.hasError("required")) {
                                <p class="text-danger">Introduzca un correo electrónico</p>
                            }
                            @if (usMail.hasError("maxlength")) {
                                <p class="text-danger">Demasiado largo</p>
                            }
                            @if (usMail.hasError("pattern")) {
                                <p class="text-danger">Correo electrónico inválido</p>
                            }
                        }
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Apellido</label>
                        <input formControlName="usApellido" class="form-control" type="text">
                        @if (usApellido.invalid && (usApellido.dirty || usApellido.touched)) {
                            @if (usApellido.hasError("required")) {
                                <p class="text-danger">Introduzca un apellido</p>
                            }
                            @if (usApellido.hasError("maxlength")) {
                                <p class="text-danger">Demasiado largo</p>
                            }
                            @if (usApellido.hasError("pattern")) {
                                <p class="text-danger">Apellido inválido</p>
                            }
                        }
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Nombre</label>
                        <input formControlName="usNombre" class="form-control" type="text">
                        @if (usNombre.invalid && (usNombre.dirty || usNombre.touched)) {
                            @if (usNombre.hasError("required")) {
                                <p class="text-danger">Introduzca un nombre</p>
                            }
                            @if (usNombre.hasError("maxLength")) {
                                <p class="text-danger">Demasiado largo</p>
                            }
                            @if (usNombre.hasError("pattern")) {
                                <p class="text-danger">Nombre inválido</p>
                            }
                        }
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Teléfono</label>
                        <input formControlName="usTelefono" class="form-control" type="tel">
                        @if (usTelefono.invalid && (usTelefono.dirty || usTelefono.touched)) {
                            @if (usTelefono.hasError("required")) {
                                <p class="text-danger">Introduzca un número de teléfono</p>
                            }
                            @if (usTelefono.hasError("pattern")) {
                                <p class="text-danger">Número de teléfono inválido</p>
                            }
                        }
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Domicilio</label>
                        <input formControlName="usDomicilio" class="form-control" type="text">
                        @if (usDomicilio.invalid && (usDomicilio.dirty || usDomicilio.touched)) {
                            @if (usDomicilio.hasError("required")) {
                                <p class="text-danger">Introduzca un domicilio</p>
                            }
                            @if (usDomicilio.hasError("maxlength")) {
                                <p class="text-danger">Demasiado largo</p>
                            }
                            @if (usDomicilio.hasError("pattern")) {
                                <p class="text-danger">Domicilio inválido</p>
                            }
                        }
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Localidad</label>
                        <select formControlName="idLocalidad" class="form-select">
                            <option value="1">Nogoyá, Entre Ríos. Argentina</option>
                            <option value="2">Victoria, Entre Ríos. Argentina</option>
                        </select>
                        @if (idLocalidad.invalid && (idLocalidad.dirty || idLocalidad.touched)) {
                            @if (idLocalidad.hasError("required")) {
                                <p class="text-danger">Seleccione una localidad</p>
                            }
                        }
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Rol</label>
                        <select formControlName="idRol" class="form-select">
                            <option value="1">Administrador</option>
                            <option value="2">Profesor</option>
                            <option value="3">Estudiante</option>
                        </select>
                        @if (idRol.invalid && (idRol.dirty || idRol.touched)) {
                            @if (idRol.hasError("required")) {
                                <p class="text-danger">Seleccione un rol</p>
                            }
                        }
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <button (click)="editUser()" type="button" class="btn btn-success">Guardar cambios</button>
            </div>
        </div>
    </div>
</div>
