<div #adminModalEditUser class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-tittle">Editar usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="editUserForm" class="row g-3">
                    <div class="col-md-6">
                        <label class="form-label">CUIL</label>
                        <input class="form-control" type="text" placeholder="CUIL" formControlName="cuil">
                        @if (cuil.invalid && (cuil.dirty || cuil.touched)) {
                            <div class="invalid-feedback d-block">
                                @if (cuil.hasError("required")) {Introduzca un CUIL}
                                @if (cuil.hasError("minlength") || cuil.hasError("maxlength") || cuil.hasError("pattern")) {CUIL inválido}
                            </div>
                        }
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Correo electrónico</label>
                        <input class="form-control" type="email" placeholder="Correo electrónico" formControlName="email">
                        @if (email.invalid && (email.dirty || email.touched)) {
                            <div class="invalid-feedback d-block">
                                @if (email.hasError("required")) {Introduzca un correo electrónico}
                                @if (email.hasError("maxlength")) {Demasiado largo}
                                @if (email.hasError("email")) {Correo electrónico inválido}
                            </div>
                        }
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Apellido</label>
                        <input class="form-control" type="text" placeholder="Apellido" formControlName="lastname">
                        @if (lastname.invalid && (lastname.dirty || lastname.touched)) {
                            <div class="invalid-feedback d-block">
                                @if (lastname.hasError("required")) {Introduzca un apellido}
                                @if (lastname.hasError("maxlength")) {Demasiado largo}
                                @if (lastname.hasError("pattern")) {Apellido inválido}
                            </div>
                        }
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Nombre</label>
                        <input class="form-control" type="text" placeholder="Nombre" formControlName="name">
                        @if (name.invalid && (name.dirty || name.touched)) {
                            <div class="invalid-feedback d-block">
                                @if (name.hasError("required")) {Introduzca un nombre}
                                @if (name.hasError("maxlength")) {Demasiado largo}
                                @if (name.hasError("pattern")) {Nombre inválido}
                            </div>
                        }
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Teléfono</label>
                        <input class="form-control" type="tel" placeholder="Teléfono" formControlName="tel">
                        @if (tel.invalid && (tel.dirty || tel.touched)) {
                            <div class="invalid-feedback d-block">
                                @if (tel.hasError("required")) {Introduzca un número de teléfono}
                                @if (tel.hasError("pattern")) {Número de teléfono inválido}
                            </div>
                        }
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Domicilio</label>
                        <input class="form-control" type="text" placeholder="Domicilio" formControlName="address">
                        @if (address.invalid && (address.dirty || address.touched)) {
                            <div class="invalid-feedback d-block">
                                @if (address.hasError("required")) {Introduzca un domicilio}
                                @if (address.hasError("maxlength")) {Demasiado largo}
                                @if (address.hasError("pattern")) {Domicilio inválido}
                            </div>
                        }
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Localidad</label>
                        <input class="form-control" type="text" placeholder="Localidad" formControlName="location">
                        @if (location.invalid && (location.dirty || location.touched)) {
                            @if (location.hasError("required")) {
                                <p class="text-danger">Seleccione una localidad</p>
                            }
                        }
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Rol</label>
                        <select class="form-select" formControlName="rol">
                            <option value="" disabled>Seleccione un rol</option>
                            @for (rol of roles; track $index) {
                                <option class="option" value="{{rol.name}}">{{rol.name}}</option>
                            }
                        </select>
                        @if (rol.invalid && (rol.dirty || rol.touched)) {
                            <div class="invalid-feedback d-block">
                                Seleccione un rol
                            </div>
                        }
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button (click)="hide()" type="button" class="btn btn-danger">Cancelar</button>
                @if (isEditing) {
                    <button class="btn btn-success" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                        <span role="status">Guardando...</span>
                    </button>
                } @else {
                    <button (click)="editUser()" type="button" class="btn btn-success">Guardar cambios</button>
                }
            </div>
        </div>
    </div>
</div>
