/* CSS VARIABLES */
:root {
    /* Palette */
    --primary-color: #150828;
    --secondary-color: #D3C1F0;
    --accent-color: #6D2BCD;
    --accent-color-2: #F9DA25;
    --background-color: #ecebeb;
    --text-color-dark: #150828;
    --text-color-light: #FFFFFF;
    /* Palette ends */
    --primary-color-90: rgba(21, 8, 40, 0.9);
    --accent-color-90: rgba(109, 43, 189, 0.9);
    --accent-color-2-90: rgba(249, 218, 37, 0.9);
}

/* CSS VARIABLES ENDS */

/* BACKGROUND */
.background {
    background-color: var(--background-color);
    color: var(--text-color-dark);
}

.background-primary {
    background-color: var(--primary-color);
    color: var(--text-color-light);
}

.background-secondary {
    background-color: var(--secondary-color);
    color: var(--text-color-dark);
}

.background-accent {
    background-color: var(--accent-color);
    color: var(--text-color-light);
}

.background-accent-2 {
    background-color: var(--accent-color-2);
    color: var(--text-color-dark);
}

/* END BACKGROUND */

/* BUTTONS */
.button-accent {
    background-color: var(--accent-color);
    color: var(--text-color-light);
    letter-spacing: 1px;
    font-weight: 500;
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
}

.button-accent:hover {
    background-color: var(--accent-color-90);
}

.button-accent:active {
    background-color: var(--accent-color);
}

.button-accent2 {
    background-color: var(--accent-color-2);
    color: var(--text-color-dark);
    letter-spacing: 1px;
    font-weight: 500;
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
}

.button-accent2:hover {
    background-color: var(--accent-color-2-90);
}

.button-accent2:active {
    background-color: var(--accent-color-2);
}

/* BUTTONS ENDS */

/* BORDERS */
.b-primary {
    border-color: var(--primary-color) !important;
}

.b-accent {
    border-color: var(--accent-color) !important;
}

.b-accent2 {
    border-color: var(--accent-color-2) !important;
}

/* BORDERS ENDS */

/* A */
.a-accent {
    color: var(--accent-color);
    text-decoration: none;
}

.a-accent:hover {
    color: var(--accent-color);
    text-decoration: underline;
}

/* A ENDS */

/* ANGULAR STYLES */
.ng-valid:not(form):not(ul):not(li).ng-touched {
    border: 2px solid #42A948;
}

.ng-invalid:not(form):not(ul):not(li).ng-touched {
    border: 2px solid #a94442;
}

.form-control {
    border: 2px solid var(--secondary-color);
}

.form-select {
    border: 2px solid var(--secondary-color);
}

/* ANGULAR STYLES ENDS */